*, ::after, ::before {
  box-sizing: border-box;
}
.backHome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  background-image: url('/img/back2x.jpg') ;
  background-size: cover;
  background-position: bottom;
  height: 100%;
}
div {
  display: block;
  unicode-bidi: isolate;
}
.no-bootstrap {
  all: revert;
}
body {
  background-color: #302B3D !important;
  height: 100%;
  margin: 0px;
}


.homeSection {
  justify-content: center;
  align-items: center;
}
.homeContentBox {
  margin-left: 40px;
  margin-right: -160px;
  max-width: 650px;
}
.homeText {
  padding: 35px 50px 35px 45px;
  background: linear-gradient(to bottom, #F7D95C, #ffa73b); 
}
.homeImage {
  margin-top: -20vh;
    width: auto;
  height: 95vh; 
  object-fit: cover; 
  align-self: flex-end; 
}
.homeLogos { 
  padding: 20px 50px 20px 45px;

}
.homeTextUnder{
  padding: 20px 50px 20px 45px;
  background-color: rgba(33, 44, 53, 0.9);
}
input, input::selection, select{
  text-align: center;
  background-color: #FFFAAE;
  border: none;
  border-radius: 20px 20px 20px 20px;
  padding: 8px 30px 8px 30px ;
  color: #978653;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 800; 
  max-width: 600px;
}

.justitySpace {
  justify-content: space-around;
}

.justityCenter {
  justify-content: center;
}




/* Content------------------------------------------------------ */


#root{
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: space-between;
      min-width: 320px;
}

header {

  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 30px 30px;
  flex-direction: row;
}
footer{
  height: 30px;
  color: #FFFAAE;
  justify-content: space-between;
  align-items: center;
  background-color: #302B3D;
  padding: 3px 30px 3px 30px;
  
}

.logo img {
  max-width: 200px;
}

.mainMenu {
  flex-grow: 1;
  padding-left: 40px;
  min-height: 20px;
  margin: 30px 0px 30px 0px;
}
.mainMenu a {
  font-size: 15px;
  text-decoration: none;
  color: #FFFAAE;
  margin-right: 30px;
  font-family: "Inter", "Calibri", "Helvetica Neue",  sans-serif;
  font-weight: 800;
}

button{
  font-family: "Inter", "Calibri", "Helvetica Neue",  sans-serif;
  font-weight: 800; 
  font-style: italic;
  box-shadow: black 10px;
  background-color: #6DC9A8 ;


}
.alertMesage h1{
  text-align: center;
  color: ;

}

.vibesTexture {
  background-image: url('/img/vibes.png') ;
  margin-bottom: 50px;
  padding-top: 20px;
}

.generalButton{
  font-size: 21px;
  height: 40px;
  min-width: 200px;
  border: none;
  border-radius: 22px;
  padding: 0px;
  color: #2D3E37;
  margin: 20px 0px 20px 0px;

}
.rightMenuButton {
  font-size: 15px;
  height: 25px;
  width: 125px;
  border: none;
  border-radius: 22px;
  padding: 0px;
  color: #2D3E37;
  
}


.vinylContent {
  margin-bottom: 20px;
}

.vinylContent img{
  width: 100%;
  margin-bottom: 30px;
}

.alertMesage{

}

footer img {

}




/* Fonts ---------------------------------------------------------------------------*/

p, h1, h2, h3, h4, h5, h6 {
  display: block !important;
  color: #FFFAAE;
}

a{
  color: #6DC9A8;
}



.homeText h1 {
  
  color: #212C35;

}


h1 {
  all: unset;
  font-family: "Libre Baskerville",  Georgia, 'Times New Roman', Times, serif;
  font-weight: 800 ;
  color:  #FFFAAE;
  font-size: 90px ;
  line-height: 92px;
}

h5 {  all: unset;
  font-family: "Inter", "Calibri", "Helvetica Neue",  sans-serif;
  font-weight: 800 ;
  color: #FFFAAE;
  font-size: 15px ;
  line-height: 20px;
}

p {  all: unset;
  font-family: "Inter", "Calibri", "Helvetica Neue",  sans-serif;
  font-weight: 400 ;
  color: #FFFAAE;
  font-size: 12px ;
  line-height: 20px;
  
}

/* Grid & Flex----------------------------------------------------------------------*/



content {
  margin: 0px 15% 0px 15%;
}
.flex {
  display: flex;
}
.space-bet {
  justify-content: space-between;
}
.flex-start {
  justify-content: flex-start;
}
.align-items-center {
  align-items: center;
}
.gap1 {
  gap: 20px;
}
.grid-1-col {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 40px;
}
.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.grid-2-col-form {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}
.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}


/* Breakpoints--------------------------------------------------------------- */


@media (max-width: 1280px) {
  header {
    flex-direction: row;
  }
  footer{
    height: 30px;
    
  }
  content {
    margin: 0px 5% 0px 5%;
  }

}
/* Laptops and Small Screens ------------ */
@media (max-width: 1025px) {
  content {
    margin: 0px 5% 0px 5%;
  }
  header {
    flex-direction: row;
  }
  .grid-2-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .grid-3-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .grid-4-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .span2 {
    grid-column: span 1;
  }
}

/* Mobile devices -------------------- */
@media (max-width: 768px) {

  .content {
    margin: 0px 20px 60px 20px;
  }
  header {
    flex-direction: column;
  }

  .grid-2-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .grid-3-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .grid-4-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .span2 {
    grid-column: span 1;
  }
}
