#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    background-image: url('/img/back2x.jpg') ;
    background-size: cover;
    background-position: bottom;
    height: 100%;
}